body {
	width: 325px;
}

.card-content-italicized {
	font-style: italic;
}

.list-label {
	font-weight: bold;
}

.content-list-items {
	list-style-type: none;
}

img {
	width: 300px;
	align-items: center;
}

.card {
	border: 1px solid grey;
	border-radius: 4px;
	padding: 10px;
	background-color: lightgreen;
}

.card-content {
	width:  280px;
}
